extends includes/layout

block title
     title home
block content
    div(class="heading")
        h3 Creer un compte ou identifiez-vous
    div(class="block")
        a(href="/login" )
          button(role="button" class="btn btn-primary btn-small") Connexion    
        a(href='/signin' )
          button(role="button" class="btn btn-primary btn-small") Inscription