<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Connexion
  body
    if error
      .error= error
    form(action="/login", method="post")
      input(type="text", id="username" ,name="username" placeholder="username")
      input(type="password", id="password" name="password" required="password")
      input(type="submit", value="OK")