<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Inscription
  body
    if error
      .error= error
    form(action="/signin", method="post")
      input(type="text",id="username", name="username" required)
      input(type="email",id="email", name="email" required)
      input(type="password",id="password", name="password" required)
      input(type="submit", value="OK")